@font-face {
    font-family: Comfortaa;
    src: url("Comfortaa-Regular.ttf"); format("truetype"):
}

html {
    font-family : Comfortaa, Arial, Verdena, sans-serif;
}

body {
    margin : 0;
}

#container {
    background-image : url('background.jpg');
    width : 85%;
    margin : 0 7.5% 0 7.5%;
    padding-bottom : 5%;
}

#logo_container {
    width : 100%;
    height : 200px;
    background-color : #101e24;
    text-align : center;
}

#logo_container img {
    height : 200px;
}

#menu_box {
    width : 40%;
    margin : 1% 30% 5% 30%;
    padding : 3% 0 5% 0;
    text-align : center;
}

h2 {
    margin : 1% 0 3% 0;
    padding : 5% 0 3% 0;
    font-size : 2.5rem;
    font-weight : 1900;
    color : #fff0e7;
    background-color : #ff4d00;
    border-radius : 10px;
}

article {
    background-color : #101e24;
    padding : 5% 3% 5% 3%;
    border-radius : 10px;
}

h3 {
    width : 95%;
    margin : 2% 2.5% 2% 2.5%;
    font-size : 1.8rem;
    font-weight : 900;
    padding : 3% 0 3% 0;
    color : #fff0e7;
    background-color : #101e24;
    border-radius : 10px;
    border : medium dotted #2d4c5d;
}

h3:hover {
    background-color : #102e40;
        color : #ff4d00;
}

a {
    text-decoration : none;
}

/* Dialogi elementti: */

dialog {
    width : 80%;
    background-color : #e5f1ff;
}

dialog article {
    width : 95%;
    background-color : #e5f1ff;
    padding : 2% 2.5% 2% 2.5%;
    text-align : center;
}

dialog h2 {
    width : 50%;
    background-color : #101e24;
    color : #fff0e7;
    font-size : 2rem;
    padding : 2% 5% 2% 5%;
    margin : 1% 20% 2% 20%;
}

dialog h4 {
    width : 50%;
    background-color : transparent;
    color : #101e24;
    font-size : 1.8rem;
    font-weight : 600;
    padding : 0 5% 0 5%;
    margin : 0 20% 0 20%;
}

dialog p {
    font-size : 1.5rem;
    font-weight : 400;
    margin : 2% 0 2% 0;
}

dialog button {
    font-size : 1.5rem;
    color : #fff0e7;
    background-color : #ff4d00;
    padding : 1% 2% 1% 2%;
    margin-top : 2%;
    border-radius : 10px;
}

dialog button:hover {
    background-color : #a62c00;
}
