/* Koko sivun: */
@font-face {
    font-family: Comfortaa;
    src: url("Comfortaa-regular.ttf"); format("truetype"):
}

html {
    font-family : Comfortaa, Arial, Verdena, sans-serif;
}

/* Koko sivun: */
body {
    margin : 0;
}

#container {
    width : 85%;
    margin : auto;
    background-image : url("background.jpg")
}

/* Otsikkopaneeli: */
header {
    background-color : #101e24;
    display : flex;
    height : 90px;
}

#logo_space {
    width : 55%;
    height : 90px;
    text-align : center;
}

#menu {
    width : 40%;
    margin-right : 5%;
    height : 90px;
    text-align : center;
    display : flex;
}

#menu a {
    width : 40%;
    height : 65%;
    margin : auto;
    line-height : 60px;
    font-size : 1.5rem;
    color : #fff0e7;
    border-radius : 10px;
    border : medium dotted #2d4c5d;
    text-decoration: none
}

#menu a:hover {
    color : #e14f00;
    background-color : #102e40;
}

#menu p {
    width : 40%;
    height : 65%;
    line-height : 60px;
    font-size : 1.5rem;
    margin : auto;
    color : #fff0e7;
    border-radius : 10px;
    border : medium dotted #2d4c5d;
}

#menu p:hover {
    color : #e14f00;
    background-color : #102e40;
}

/* Kartta ja status: */
section {
    display : flex;
    height : 400px;
    width : 90%;
    padding : 1.5% 5% 0.5rem 5%;
}

/* Kartta: */
#map_container {
    width : 59%;
    height : 400px;
    margin : 0 1% 0 0;
}

#map {
    width : 100%;
    height : 100%;
    border-radius : 20px;
}

.error_paragraph {
    color: #b80000;
    padding-top : 0.5rem;
}

/* Status: */
#status {
    width : 49%;
    margin : 0 0 0 1%;
    padding : 1rem;
    text-align : center;
    background-color: #e14f00;
    border-radius : 20px;
}

h2 {
    font-size : 2rem;
    color : #fffcfa;
    margin : 1% 0 2% 0;
}

#status article {
    width : 80%;
    padding : 1.8% 10% 1.8% 10%;
    margin : 0.4rem 0 0.4rem 0;
    background-color : #fffcfa;
    border-radius : 10px;
}

h3 {
    font-size : 1.2rem;
    font-weight : 900;
    color : #000000;
    margin : 0;
}
#status article p {
    font-size : 1.2rem;
    margin : 1.5% 0 0 0;
}


/* Muokattava laatikko: */
#game_box {
    width : 86%;
    text-align : center;
    margin : 0.5rem 5% 7rem 5%;
    padding : 1rem 2% 1rem 2%;
    background-color : #2d4c5d;
    border-radius : 20px;
}

/* Laatikko: kirjautumisikkuna: */

@keyframes slideUp {
    from {
        max-height : 200px;
        padding-top : 2%;
        padding-bottom : 2%;
    }
    to {
        max-height : 0;
        padding-top : 0;
        padding-bottom : 0;
    }
}

@keyframes slideDown {
    from {
        max-height : 0;
        padding-top : 0;
        padding-bottom : 0;
    }
    to {
        max-height : 200px;
        padding-top : 2%;
        padding-bottom : 2%;
    }
}

#login_panel {
    width : 70%;
    margin : 1% 15% 1% 15%;
    background-color : #e5f1ff;
    border-radius : 10px;
    padding-top : 2%;
    padding-bottom : 2%;
    max-height : 200px;
    overflow : hidden;
    transition: padding-top 1s, padding-bottom 1s;
}

#login_panel.hidden {
    animation : slideUp 1s ease forwards;
    padding-top : 0;
    padding-bottom : 0;
}

#login_panel.shown {
    animation : slideDown 1s ease forwards;
}

#login_panel label {
    width : 100%;
    font-size : 1.5rem;
    font-weight : 600;
}

#login_panel input {
    width : 60%;
    margin : 1% 20% 1% 20%;
    height : 3rem;
    font-size : 1.5rem;
    text-align : center;
    border-radius : 10px;
}

#login_panel button {
    width : 40%;
    height : 3rem;
    font-size : 1.5rem;
    font-weight : 600;
    color : #fff0e7;
    border-radius : 10px;
    background-color : #e14f00;
}

#login_panel button:hover {
    background-color : #a62c00;
}

/* Laatikko: lentokohteenvalinta: */
#prompt {
    font-size : 1.5rem;
    color : #e5f1ff;
    padding : 1% 0 1% 0;
}

@keyframes slideUp {
    from {
        max-height : 400px;
    }
    to {
        max-height : 0;
    }
}

@keyframes slideDown {
    from {
        max-height : 0;
    }
    to {
        max-height : 400px;
    }
}

#prompt_container {
    max-height : 0;
    overflow : hidden;
}

#prompt_container.hidden {
    animation : slideUp 1s ease forwards;
}

#prompt_container.shown {
    max-height : 400px;
    animation : slideDown 1s ease forwards;
}

#souvenir_question {
    max-height : 0;
    overflow : hidden;
    background-color : #e5f1ff;
}

#souvenir_question.hidden {
    animation : slideUp 1s ease forwards;
}

#souvenir_question.shown {
    max-height : 100px;
    animation : slideDown 1s ease forwards;
    border-radius : 10px;
    padding : 1% 0 3% 0;
    margin-bottom : 2%;
}

#souvenir_question h3 {
    margin : 2% 0 2% 0;
    font-size : 1.5rem;
    color : #101e24;
}

#souvenir_question button {
    padding : 2% 4% 2% 4%;
    font-size : 1.2rem;
    font-weight : 600;
    color : #fff0e7;
    background-color : #e14f00;
    border-radius : 10px;
}

#souvenir_question button:hover {
    background-color : #a62c00;
}

#question {
    margin-top : 3rem;
}

.option {
    font-size : 1.2rem;
    padding : 1% 5% 1% 5%;
    margin : 1% 0 1% 0;
    background-color : #e5f1ff;
    border-radius : 10px;
    transition: all 0.3s ease;
}

.option:hover {
    padding : 1% 5% 1% 5%;
    margin : 1% 0 1% 0;
    border-radius : 10px;
    background-color: #aed4e6;
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

#game_box p {
    text-align : center;
    font-size : 1.2rem;
    margin : 0 2% 0 2%;
}

#souvenir_check {
    max-height : 0;
    overflow : hidden;
    background-color : #e5f1ff;
}

#souvenir_check.hidden {
    animation : slideUp 1s ease forwards;
}

#souvenir_check.shown {
    max-height : 100px;
    animation : slideDown 1s ease forwards;
    padding : 1% 0 3% 0;
    border-radius : 10px;
}

#souvenir_check p {
    margin : 2% 0 3% 0;
    font-size : 1.5rem;
    font-weight : 500;
}

#loop_check {
    padding : 2% 4% 2% 4%;
    font-size : 1.2rem;
    font-weight : 600;
    color : #fff0e7;
    background-color : #e14f00;
    border-radius : 10px;
}

#loop_check:hover {
    background-color : #a62c00;
}

#gameover_container {
    max-height : 0;
    overflow : hidden;
    background-color : #e5f1ff;
}

#gameover_container.hidden {
    animation : slideUp 1s ease forwards;
}

#gameover_container.shown {
    max-height : 100px;
    animation : slideDown 1s ease forwards;
    border-radius : 10px;
    padding : 3% 0 3% 0;
    margin-bottom : 2%;
}

#gameover_container h3 {
    font-size : 2rem;
    color : #101e24;
    margin-bottom : 2%;
}

#gameover_container p {
    margin-bottom : 3%;
    font-size : 1.5rem;
}

.marker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.marker-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-bottom: 2px;
}

.marker-label {
    font-size: 11px;
    color: #5e5a5a;
    text-align: center;
    white-space: nowrap;
    font-family : Comfortaa, Arial, Verdena, sans-serif;
}

/* Sivun alasosa: */
footer {
    background-color : #101e24;
    height : 3rem;
    margin-top : 20%;
}

/* Dialogi elementti: */

dialog {
    width : 80%;
    background-color : #e5f1ff;
}

dialog article {
    width : 95%;
    background-color : #e5f1ff;
    padding : 2% 2.5% 2% 2.5%;
    text-align : center;
}

dialog h2 {
    width : 50%;
    background-color : #101e24;
    color : #fff0e7;
    font-size : 2rem;
    padding : 2% 5% 2% 5%;
    margin : 1% 20% 2% 20%;
}

dialog h4 {
    width : 50%;
    background-color : transparent;
    color : #101e24;
    font-size : 1.8rem;
    font-weight : 600;
    padding : 0 5% 0 5%;
    margin : 0 20% 0 20%;
}

dialog p {
    width : 60%;
    font-size : 1.5rem;
    font-weight : 400;
    margin : 2% 20% 2% 20%;
    text-align : center;
}

dialog button {
    font-size : 1.5rem;
    color : #fff0e7;
    background-color : #ff4d00;
    padding : 1% 2% 1% 2%;
    margin-top : 2%;
    border-radius : 10px;
}

dialog button:hover {
    background-color : #a62c00;
}